<p
(mouseover)="onMouseOver()"
(mouseout)="onMouseOut()"
[ngStyle]="{'background-color': addBgColor ? 'Orange' : 'transparent',
}">
  Parágrafo sem diretiva!
</p>

<!-- Comp x
<app-sem-diretiva [innerText]="'texto do comp x'" ,[bgColor]="'green'" ,[fontSize]="'16px'"></app-sem-diretiva>

<! Comp y -->
<!-- <app-sem-diretiva [innerText]="'texto do comp y'" ,[bgColor]="'blue'" ,[fontSize]="'14px'"></app-sem-diretiva> -->

<!-- Comp x -->
<!-- <p appHighLight>Sou um parágrafo com Diretiva! X</p> -->

<!-- Comp y -->
<!-- <p appHighLight>Sou um parágrafo com Diretiva! y</p> -->
