<!-- <app-sem-diretiva></app-sem-diretiva>
<br>
=====================================
<app-com-diretiva></app-com-diretiva>

<button disabled>Meu Botão</button>

<button [attr.disabled]="true">Meu Botão attr</button>

<button [disabled]="false">Meu Botão prop</button>

<button appDisabled>Meu Botão prop diretiva</button> -->
<!--
<p style="background-color: orange; color: white;">Parágrafo Normal</p>

<p [attr.style]="'background-color: green; color: white;'">Attr</p>

<p [style]="'background-color: orange; color: white;' ">Prop</p>

<p [style]="{
  backgroundColor: 'blue',
  color: 'white',
}">Prop obj</p>

<p appStyle>Diretiva</p> -->


<!-- <p class="meu-texto">Normal</p>

<p [attr.class]="'meu-texto'">Attr</p>

<p [className]="'meu-texto meu-size'">Prop Class Name</p>

<p [class]="{
'meu-texto': true,
 'meu-size': true,
 }">Prop Class</p>

<p appClass>Diretiva</p> -->


<!-- <input appListener /> -->
<input
[appInputBackground]="appBgColor"
tColor="white"
/>

<!-- <input
appInputBackground
[bgColor]="appBgColor"
tColor="white"
/>

<input
appInputBackground
bgColor="orange"
tColor="white"
/> -->
